spring:
  # Redis
  data:
    redis:
      host: redis
      port: 6379
      username: ${SPRING_DATA_REDIS_USERNAME:default}
      password: ${SPRING_DATA_REDIS_PASSWORD}
  cloud:
    gateway:
      server:
        webflux:
          routes:
            # ==========================================
            # 1. Auth Service
            # ==========================================
            - id: auth-register
              uri: http://lxp-auth:8080
              predicates:
                - Path=/api-v1/auth/register
                - Method=POST

            - id: auth-login
              uri: http://lxp-auth:8080
              predicates:
                - Path=/api-v1/auth/login
                - Method=POST

            - id: auth-logout
              uri: http://lxp-auth:8080
              predicates:
                - Path=/api-v1/auth/logout
                - Method=POST
              filters:
                - JwtAuthentication

            # ==========================================
            # 2. User Service
            # ==========================================
            - id: user-info
              uri: http://lxp-user:8080
              predicates:
                - Path=/api-v1/users
                - Method=GET
              filters:
                - JwtAuthentication

            - id: user-update
              uri: http://lxp-user:8080
              predicates:
                - Path=/api-v1/users
                - Method=PATCH
              filters:
                - JwtAuthentication

            - id: user-role-update
              uri: http://lxp-user:8080
              predicates:
                - Path=/api-v1/users/role
                - Method=PUT
              filters:
                - JwtAuthentication

            - id: user-withdraw
              uri: http://lxp-user:8080
              predicates:
                - Path=/api-v1/users
                - Method=DELETE
              filters:
                - JwtAuthentication

            # ==========================================
            # 3. Course Service
            # ==========================================

            - id: course-detail-get
              uri: http://lxp-content:8080
              predicates:
                - Path=/api-v1/courses/{courseId}
                - Method=GET

            - id: course-update-delete
              uri: http://lxp-content:8080
              predicates:
                - Path=/api-v1/courses/{courseId}
                - Method=PATCH,DELETE
              filters:
                - JwtAuthentication

            - id: course-get
              uri: http://lxp-content:8080
              predicates:
                - Path=/api-v1/courses
                - Method=GET

            - id: course-create
              uri: http://lxp-content:8080
              predicates:
                - Path=/api-v1/courses
                - Method=POST
              filters:
                - JwtAuthentication

            # ==========================================
            # 4. Enrollment Service
            # ==========================================
            - id: enrollment-api
              uri: http://lxp-enrollment:8080
              predicates:
                - Path=/api-v1/enrollments
                - Method=GET,POST,DELETE
              filters:
                - JwtAuthentication

            # ==========================================
            # 5. Progress Service
            # ==========================================
            - id: progress-update
              uri: http://lxp-content:8080
              predicates:
                - Path=/api-v1/progress/{courseId}/{lectureId}
                - Method=PATCH
              filters:
                - JwtAuthentication

            # ==========================================
            # 6. Admin Service
            # ==========================================

            - id: tag-api
              uri: http://lxp-admin:8080
              predicates:
                - Path=/api-v1/tags/**
                - Method=GET

            # ==========================================
            # 7. Like Service
            # ==========================================

            - id: like-api
              uri: http://lxp-content:8080
              predicates:
                - Path=/api-v1/likes/**
                - Method=GET,POST,DELETE
              filters:
                - JwtAuthentication

            # ==========================================
            # 8. Recommend Service
            # ==========================================
            - id: recommend-api
              uri: http://lxp-recommend:8080
              predicates:
                - Path=/api-v1/recommend/**
                - Method=GET,POST
              filters:
                - JwtAuthentication

# Actuator (Health Check)
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true

jwt:
  public-key-string: ${AUTH_KEY_PUBLIC_KEY_STRING:defaultPublicKeyBase64}

passport:
  key:
    secret-key: ${PASSPORT_SECRET:default-secret-key-for-testing-minimum-32chars}
    duration-millis: 60000 #60초

# 서버 포트
server:
  port: 8080
