spring:
  # Redis
  data:
    redis:
      host: redis
      port: 6379
      password: ${SPRING_DATA_REDIS_PASSWORD}

# Actuator (Health Check)
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true

jwt:
  secret-key: test-secret-key-for-unit-testing-purposes-only-minimum-32-characters-required

passport:
  key:
    private-key-string: MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDM+ajn33ZikYnWzYg/E2wXU9qbFSLq03WkLqaayu0VgFM1tjUbiNFzLssxATPQIa9pK+oNbmoI74lEyFvKKwIeN8EatPCBqVj8cMLOgir7h3ytBXekryZDNeHw2ysKitE0Ghfx1llWTbYNdexZRD6KAyBjGjjTUedqjt5nlPCvQ01tuySpZb6OuDnF89c54rluBwZdLwvOni56L6Vg2iS/E/30IiXI3cqSoyJSMnXSsRkfZH+tIumySS8RB5JAbrQnjC5l16t64DqRkmDPUKyDlENnTB9prje9HtQHUaFh8U7AZJcsLKmr1eOI8AC/4iJCbBbZQePR6zKnvPIg+xdDAgMBAAECggEAU2JS1HUC/2kuVjxJa0N26ux5VzJbgITibBZwPzNDDEamUwjbBOb9Maq9DSPslIRHi/TJ44nhx93ODTWmpZEmbO2IeFlYJ58hLJygmwq3+pfs36QEPnHkEl5mmilGkqTTIytkR0TIFgRKBaLNsajB+jn4YGhn6ot8pUwWbLPZz6nKR8ElCsGubXdbr/dGlN6xhHfXW1+EfwMYoW2mT4yZoeVaBriSNo9DNPVJf6FnOenp6jn694f7wjSzqMQwmoIFNMCnApugUE3sNcnHPeCmunXdoglSVUPhh4wOQQqViqVcobTATfED4a6FObdInlBpU92jcyg5aiCaze/YviyjzQKBgQDwyvF9e2hNGaaXmaWAlTa6Vuat/aRgz3ovMn0jN2o0fPj1ST7jC9hpjQrAWwdVCua33rMCY/39jYK/uDJ6Tpwk7CFt+k107NkbUPMtnzv6xrtWHC19cHdH6Iq52TK9irUQZruzg0s62/rBmA6/jNtN863BwjqXMLnf4inoHWYjxwKBgQDZ66GA2TlpfuJoheUkD+lf+uDCz8/hy9XGsGvVdFSkd8qxXQqmTq1lZfpDaXqixHeCc3dP/yoV7QeipHJP20BUfOaUUIhHbTNKyqsWU6wooGKvLXfrktzLDL24Xvpy4zv2YYUwKd05Vw+dSe5JV1AsrdC92iYVV2xll3t1ihm4pQKBgQDnjlHCmN1JX4Rrvw5/434YnZ8B7KuZiYv3PTdHmW+hgBitUL2P+4Emp8KSDjez2WLbqOY+Q0gp/16f3ZN1OIlBnG3dY9n+uhFiCmuAEOPOGjRm73vzaCbc2MwnQq5fxbavSgvw6i57MLYoW4C7RcpTYSVT8eMEJ5BnswcXtsXVWwKBgFn39zCL/jD4yp6ekPCnhRE0MXEcfNXa4sJp+cshgQR51HwPTqNEnj/br0v/kzr54+E+rIahcQ2mU12piOxBN7jp7ARVjz317pQ1QhcwqkYHmVZ7biQa+P73nqgsxjeCazIYJvWwgv32XKLyb+dlndskU6beFpT/B+iVdsobHu1lAoGAaAG3Jy6LBROBag+vWToFIgiWCjALqlF7K4grJqqia20OTA9Fz41EK1i/ZVczIDvC5yN/PzOjoUruhtVWrsmIFDbT0zSH11k5WtmNuhq3LwjoGH5dPuGwu5qqb6IETOBAgl+1PvCwIq2cJh+7Xip2KbTDfNahhtdhxVKP5U09naY=
    public-key-string: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAzPmo5992YpGJ1s2IPxNsF1PamxUi6tN1pC6mmsrtFYBTNbY1G4jRcy7LMQEz0CGvaSvqDW5qCO+JRMhbyisCHjfBGrTwgalY/HDCzoIq+4d8rQV3pK8mQzXh8NsrCorRNBoX8dZZVk22DXXsWUQ+igMgYxo401Hnao7eZ5Twr0NNbbskqWW+jrg5xfPXOeK5bgcGXS8Lzp4uei+lYNokvxP99CIlyN3KkqMiUjJ10rEZH2R/rSLpskkvEQeSQG60J4wuZdereuA6kZJgz1Csg5RDZ0wfaa43vR7UB1GhYfFOwGSXLCypq9XjiPAAv+IiQmwW2UHj0esyp7zyIPsXQwIDAQAB
    duration-millis: 60000 #60초

# 서버 포트
server:
  port: 8080
