services:
  user: http://lxp-user:8080
  auth: http://lxp-auth:8080
  content: http://lxp-content:8080
  enrollment: http://lxp-enrollment:8080
  admin: http://lxp-admin:8080
  recommend: http://lxp-recommend:8080

spring:
  # Redis
  data:
    redis:
      host: redis
      port: 6379
      username: ${SPRING_DATA_REDIS_USERNAME:default}
      password: ${SPRING_DATA_REDIS_PASSWORD}
  cloud:
    gateway:
      server:
        webflux:
          routes:
            # ==========================================
            # 1. Auth Service
            # ==========================================
            - id: auth-register
              uri: ${services.auth}
              predicates:
                - Path=/api-v1/auth/register
                - Method=POST

            - id: auth-login
              uri: ${services.auth}
              predicates:
                - Path=/api-v1/auth/login
                - Method=POST

            - id: auth-logout
              uri: ${services.auth}
              predicates:
                - Path=/api-v1/auth/logout
                - Method=POST
              filters:
                - JwtAuthentication

            # ==========================================
            # 2. User Service
            # ==========================================
            - id: user-private
              uri: ${services.user}
              predicates:
                - Path=/api-v1/users/**
              filters:
                - JwtAuthentication

            # ==========================================
            # 3. Course Service
            # ==========================================

            - id: course-public
              uri: ${services.content}
              predicates:
                - Path=/api-v1/courses/public/**

            - id: course-private
              uri: ${services.content}
              predicates:
                - Path=/api-v1/courses/**
              filters:
                - JwtAuthentication

            - id: resource-private
              uri: ${services.content}
              predicates:
                - Path=/api-v1/resources/**
              filters:
                - JwtAuthentication

            - id: qna-public
              uri: ${services.content}
              predicates:
                - Path=/api-v1/qna/public/**
                - Method=GET

            - id: qna-private
              uri: ${services.content}
              predicates:
                - Path=/api-v1/qna/**
                - Method=GET
              filters:
                - JwtAuthentication

            # ==========================================
            # 4. Enrollment Service
            # ==========================================
            - id: enrollment-api
              uri: ${services.enrollment}
              predicates:
                - Path=/api-v1/enrollments/**
              filters:
                - JwtAuthentication

            # ==========================================
            # 5. Progress Service
            # ==========================================
            - id: progress-private
              uri: ${services.content}
              predicates:
                - Path=/api-v1/progress/**
              filters:
                - JwtAuthentication

            # ==========================================
            # 6. Admin Service
            # ==========================================
            - id: tag-api
              uri: ${services.admin}
              predicates:
                - Path=/api-v1/tags/**
                - Method=GET

            # ==========================================
            # 7. Recommend Service
            # ==========================================
            - id: recommend-api
              uri: ${services.recommend}
              predicates:
                - Path=/api-v1/recommend/public/**

            - id: recommend-api
              uri: ${services.recommend}
              predicates:
                - Path=/api-v1/recommend/**
              filters:
                - JwtAuthentication


# Actuator (Health Check)
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true

jwt:
  public-key-string: ${AUTH_KEY_PUBLIC_KEY_STRING:defaultPublicKeyBase64}

passport:
  key:
    secret-key: ${PASSPORT_SECRET:default-secret-key-for-testing-minimum-32chars}
    duration-millis: 60000 #60초

# 서버 포트
server:
  port: 8080
